<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Screen Torch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93CEBF1A1D142BDD009D1DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEBF2E1D142BDD009D1DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEBF391D142BDD009D1DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
